<!DOCTYPE html>
<!-- 
    Website Responsivo
    (Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
-->
<html lang="en">
  <head>
    <link rel="stylesheet" href="./public/css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./public/js/script.js"></script>
    <script
      src="https://kit.fontawesome.com/f9e19193d6.js"
      crossorigin="anonymous"
    ></script>
    <title>WebSite</title>
  </head>
  <body>
    <!-- 
      Barra de navegação e showcase
      (Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
    -->
    <nav id="navbar">
      <div id="navbar-container">
        <h1 class="logo">WebSite</h1>
        <ul id="navbar-items">
          <li id="navbar-item">Início</li>
          <li id="navbar-item">Sobre</li>
          <li id="navbar-item">Galeria</li>
        </ul>
      </div>
    </nav>
    <header id="showcase">
      <div id="showcase-container">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto,
          sint!
        </p>
        <a href="" class="btn">SAIBA MAIS</a>
      </div>
    </header>
    <!-- 
      Seção Sobre
      (Beba água, levante, alongue-se, vá dar uma volta, não se force camarada ;D )
    -->
    <section id="clients">
      <div class="headline">NOSSOS CLIENTES</div>
      <div class="clients-container">
        <img class="client" src="./public/img/netflix.png" alt="Netflix" />
        <img class="client" src="./public/img/google.png" alt="Google" />
        <img class="client" src="./public/img/apple.png" alt="Apple" />
        <img class="client" src="./public/img/microsoft.png" alt="Microsoft" />
      </div>
    </section>
    <section id="features">
      <div class="headline">O QUE FAZEMOS</div>
      <div id="features-container">
        <div class="feature">
          <i class="fas fa-tachometer-alt fa-3x"></i>
          <span class="feature-title">Lorem ipsum dolor sit amet.</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ad
            sunt tempora natus illum ea?
          </p>
        </div>
        <div class="feature">
          <i class="fas fa-code fa-3x"></i>
          <span class="feature-title">Lorem ipsum dolor sit amet.</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ad
            sunt tempora natus illum ea?
          </p>
        </div>
        <div class="feature">
          <i class="fas fa-layer-group fa-3x"></i>
          <span class="feature-title">Lorem ipsum dolor sit amet.</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ad
            sunt tempora natus illum ea?
          </p>
        </div>
      </div>
    </section>
    <section id="product">
      <div class="headline">NOSSO PRODUTO</div>
      <div id="product-container">
        <img
          src="./public/img/iphone-x.png"
          alt="Produto"
          class="product-img"
        />
        <div id="product-items">
          <div class="product-item">
            <i class="fas fa-map-marked fa-2x color-primary"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              laboriosam autem officia cum odit consequuntur!
            </p>
          </div>
          <div class="product-item">
            <i class="fas fa-users fa-2x color-primary"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              laboriosam autem officia cum odit consequuntur!
            </p>
          </div>
          <div class="product-item">
            <i class="fas fa-glass-cheers fa-2x color-primary"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              laboriosam autem officia cum odit consequuntur!
            </p>
          </div>
          <div class="product-item">
            <i class="fas fa-book-open fa-2x color-primary"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              laboriosam autem officia cum odit consequuntur!
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="testimonials">
      <div class="headline">O QUE ACHAM DE NÓS</div>
      <div id="testimonials-container">
        <div class="testimonial">
          <img
            src="./public/img/person-1.jpeg"
            alt="Fulano"
            class="testimonial-img"
          />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
            repellat minima dolorem consequatur, sunt nobis delectus enim ab
            provident optio.
          </p>
        </div>
        <div class="testimonial">
          <img
            src="./public/img/person-2.jpeg"
            alt="Siclano"
            class="testimonial-img"
          />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
            repellat minima dolorem consequatur, sunt nobis delectus enim ab
            provident optio.
          </p>
        </div>
      </div>
    </section>
    <section id="gallery">
      <div class="headline">GALERIA</div>
      <div id="gallery-container">
        <img src="./public/img/image-1.jpeg" alt="Imagem" class="gallery-img" />
        <img src="./public/img/image-2.jpeg" alt="Imagem" class="gallery-img" />
        <img src="./public/img/image-3.jpeg" alt="Imagem" class="gallery-img" />
        <img src="./public/img/image-4.jpeg" alt="Imagem" class="gallery-img" />
        <img src="./public/img/image-5.jpeg" alt="Imagem" class="gallery-img" />
        <img src="./public/img/image-6.jpeg" alt="Imagem" class="gallery-img" />
      </div>
    </section>
    <footer id="footer">
      <p>ACSL 2022 - Todos os direitos reservados</p>
      <p>Feito por F. S. Lawliet</p>
    </footer>
  </body>
</html>
